[submodule ".build/k"]
	path = .build/k
	url = https://github.com/kframework/k
	ignore = untracked
[submodule "tests/wasm-tests"]
	path = tests/wasm-tests
	url = https://github.com/webassembly/spec
	ignore = untracked
[submodule ".build/pandoc-tangle"]
	path = .build/pandoc-tangle
	url = https://github.com/ehildenb/pandoc-tangle
	ignore = untracked
[submodule ".build/kninja"]
	path = .build/kninja
	url = https://github.com/nishantjr/kninja
