name: 'Update Version'
on:
  push:
    branches:
      - '_update-deps/runtimeverification/k'
# Stop in progress workflows on the same branch and same workflow to use latest committed code
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  update-versions:
    name: 'Update dependency versions'
    runs-on: ubuntu-22.04
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
      - run: |
          git config user.name devops
          git config user.email devops@runtimeverification.com
      - name: 'Install Poetry'
        uses: Gr1N/setup-poetry@v8
      - name: 'Update pyk release tag'
        run: |
          K_VERSION=v"$(cat deps/k_release)"
          sed -i 's!pyk = { git = "https://github.com/runtimeverification/k.git", tag="[v0-9\.]*", subdirectory = "pyk" }!pyk = { git = "https://github.com/runtimeverification/k.git", tag="'${K_VERSION}'", subdirectory = "pyk" }!' pykwasm/pyproject.toml
          poetry -C pykwasm update
          git add pykwasm/ && git commit -m "pykwasm/: sync poetry files ${K_VERSION}" || true
      - name: 'Push updates'
        run: git push
